@import url("style/header.css");

:root {
    --cor-de-fundo: #c41a1a; 
    --vermelho: #FF0000;
}

body{
    background-color: var(--cor-de-fundo);
}

.cabecalho {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}