@import url("style/header.css");
@import url(style/banner.css);
@import url(style/carrossel.css);
@import url(style/tópicos.css);

:root {
    --cor-de-fundo: #e6dddd; 
    --vermelho: #FF0000;
    --fonte-principal:"Poppins";
    --vermelho-bordo: #c41a1a;
    --branco: #ffffff;
    --laranja: #e36b10;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.cabecalho {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}